streamlit
# Utilities
numpy
pandas

# Face Recognition
scikit-learn
dlib-bin

setuptools>=70,<81

# Database
supabase
bcrypt

segno
pillow

git+https://github.com/ageitgey/face_recognition_models

librosa
resemblyzer
